.BuildControls {
    width: 100%;
    background: #bfa398;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}